body {
  padding: 0%;
  margin: 0%;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #12394a;
  color: #f0aa20;
}

nav h1 {
  background-color:#fff;
  padding: 5px;
  margin-left: 5px;
  border-radius: 6px;

}

nav div a {
text-decoration: none;
margin: 12px;
padding: 5px;
border: 2px solid transparent;
color: #ebb13a;
}

nav div a:hover {
  background-color: #fff;
  border-radius: 6px;
  border: 2px black;
}

.image {
  width: 100%;
  margin: 0 auto;
  background-image: url(/assets/images/backgroundpic.jpeg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image img {
  width: 200px;
  border-radius: 10% 25% 10% 25%;
  box-shadow: 10px 10px 10px rgb(60, 59, 59);
  border: 1px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image p {
  font-style: italic;
  font-weight: bolder;
  color: #d83e3e;
  font-size: large;
  background-color: white;
  padding: 5px;
  margin-left: 5px;
  border-radius: 6px;
  width: 250px;
  border-radius: 25% 25% 25% 25%;
  box-shadow: 10px 10px 10px rgb(60 59 59);
  border: 1px solid black;
  align-items: center;
  flex: wrap;
  justify-content: center;
}

h3 { 
  background-color: #ebb13a;
  font-style: italic;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-right: 12%;
}

.aboutMe p {
  justify-content: center;
 margin-bottom: 5%;
 margin-left: 12%;
 margin-right: 12%;
}
  

.contactInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 8% 12%;
  flex-wrap: wrap;
}

.resume {
  align-items: right;
  margin-top: 8%;
  margin-bottom: 11%;
  margin-left: 44%;
  margin-right: 44%;
}

div {
  justify-content: center;
  text-align: center;
}


div .buttontwo:hover {
  color: red;
  background-color: yellow;
  background-image: url(./assets/images/myhouse.jpeg);
  cursor: alias;
}

div .buttonone:hover {
  color: red;
  background-color: yellow;
  background-image: url(./assets/images/myprojects.png);
  cursor: alias;
}

div .buttonone {
  color: black;
  background-size: cover;
  height: 375px;
  width: 450px;
}

div .buttontwo {
  color: black;
  height: 275px;
  width: 350px;
  background-size: cover;
}

@media screen and (max-width: 850px) {
  ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  nav div a {
    flex-direction: column;
  }
}
